
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #1f1e1e;
}
h1 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 130%;
  color: #1f1e1e;
}
h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
}
.container {
  max-width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}
.gold-btn {
  padding: 12px 30px;
  border-radius: 22px;
  background-color: #886239;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  display: inline-block;
  position: relative;
  &::before {
    content: "Заказ туров и бронирование:";
    position: absolute;
    left: -245px;
  }
}
.big-btn {
  padding: 20px 55px;
  border-radius: 30px;
  background-color: #886239;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: inline-block;
  cursor: pointer;
}
.menu-btn{
  display: none;
}
.arrow-btn {
  display: block;
  width: 40px;
  margin: 10px auto 0;
}

.strime iframe{
  display: block;
  margin: 0 auto;
}
.application-checkbox:checked + span::before{
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  background-color: #c4c4c4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}