@media (max-width: 800px) {
  .gold-btn::before {
    content: "";
    display: none;
    width: 0;
    height: 0;
  }
}
@media (max-width: 560px) {
  .header__title {
    font-size: 50px;
    margin: 50px 0 400px 0px;
    text-align: center;
  }
  .menu-btn {
    display: inline-block;
  }
}
