@import "reset";
@import "global";
@import "var";

.header {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }
  &__title{
    margin: 50px 0 0 125px;
  }
  &__text {
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    max-width: 422px;
    margin: 400px 0 20px;
  }
  &__menu{
    padding: 25px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  } ul{
    display: flex;
    justify-content: space-evenly;
    color: #fff;
  }
}
